/* body {
    background-color: ;
    font-family: ;
    font-size: ;
    text-align: ;
    padding: ;
} */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #000;
    color: #fff;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: right;
    min-height: 55px;
    padding: 15px 10px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #000;
}

.navbar-inverse .navbar-nav li a {
    color: #b8b4b4;
}